
@font-face
 
{

 font-family: Verdana, Lucida Sans, sans-serif;
   
}


 *{
     margin: 0;
     padding: 0;
    box-sizing: border-box;
   }

 
 body{
  font-family: Verdana,Lucida Sans, sans-serif;
  width: 100%;
  min-height: 100vh; 
  background-color: #E0FFFF;
  overflow-x: hidden;
    
}


 footer,section,aside,article{
   font-family: Verdana,Lucida Sans, sans-serif;
 }

  
.top{
   background: url(../imagenes_video/huellas.png);
   margin-top: -15px;
   margin-bottom: -16px;
   
  }

   .top h4{
  margin-bottom: 15px;
 }

   
   .titulo h1{
    display: inline;
    color:#009999;
    font-size: 65px;
    font-family: Comic Sans MS, sans-serif;
    margin-top: 8px;
    padding-left: 10px; 
    
  }

  footer,a{
    text-decoration: none;
     }
  
  .redes i{
  size: 24px;
  margin-right: 4px;
   
}

  .redes a{
    color:#FFFFFF;
     margin-right: 8px;
     font-size: 24px;
      }